/* Shell Logo */
.logo 
{ 
position: absolute; 
top: 20; 
left: 20; 
}

/* Title */
.Title
{ 
position: absolute; 
top: 20; 
left: 200; 
}

a { 
  text-decoration:none;
  font-size:16px; 
}

Table.Report
{ 
  position: relative;
  top:80;
  border: 0; 
  text-decoration:none;
  font-family: arial; 
  font-size:10px; 
} 

Table.DailyReport
{ 
  border: 0; 
  text-decoration:none;
  font-family: arial; 
  font-size:10px; 
  text-align: center;
} 

/* Form */
Table.Login
{ 
  position: relative;
  top: 180; 
  border: 0; 
  font-family: arial; 
  font-size:30px; 
} 

/* Form */
Table.Ver
{ 
  position: relative;
  top: 80; 
  border: 0;
  text-align: center; 
  font-family: arial; 
  font-size:38px; 
} 


#popup_middle {

    visibility: hidden;
}

th { 
  background-color:yellow; 
} 

tr td{
  white-space: nowrap;
}

/* Message */
.Message
{ 
  position: relative; 
  top: 160; 
  left: 0; 
  font-size:36px; 

}  

/* Button */
#button1
{
   font-family: arial; 
   font-size:24px; 

}

/* Input Field */
input, select, textarea 
{
   font-family: arial; 
   font-size:16px;
}


input.ver 
{
   font-family: arial; 
   font-size:26px;
}



.reportdate
{
   visibility:hidden;

}

.example {
            page-break-after: always;
        }



@media print 
{

Body
{
     margin-top:10px;
     margin-right:10px;
     margin-left:10px;
     margin-bottom:10px;
     float: none;
     
}

table
{
     border-collapse:collapse;
}

table, td
{
     padding: 2px 2px 2px 2px ;
     border: 1pt dotted #000000;
     white-space: nowrap;
     text-align: center;
     font-size:10px;
     
}

Table.DailyReport 
{ 
  border: 0; 
  text-decoration:none;
  font-family: arial; 
  font-size:14px; 
  text-align: center;

} 

.noprint {

    display: none;
       
    	}

.noborder {

    border-width: 0;

}

.reportdate
{
   visibility:visible;

}

select
{
   display:none;

}



.popup_middle
{
 visibility:hidden;

}



